@mixin align($direction) {
  @if $direction == horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @if $direction == vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @if $direction == center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
